 header {
    background-color:  grey;
    text-align: center;
 }
 
section {
   text-align: center;
}

button {
   border: 1px solid black;
   color: green;
  
}
p {
   font-family:Verdana, Geneva, Tahoma, sans-serif;
}
 ul {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
 }